@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
  color: var(--foreground);
  
}
/* img, video {
  max-width: unset;
  height: unset;
} */
 
/* background black */
.Back_color{
    background-color: #64B900;
}
/* text black */
.text_black{
    color: black;
}
/* text lime */
.text_lime{
    color: #64B900;


}
/* text gray */
.text_gray{
  color:#00000099;
}

/* use in crop list form */
.gradient{
 background-color:#64B9000D;
}

/* Background Lime */
.back_lime{
  background-color: #64B900;
}